<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/stylehome.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="shortcut icon" href="../../public/images/logo-header.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/86e4e92605.js" crossorigin="anonymous"></script>
    <title>Muambas.net</title>
</head>

<body>

    <header>
        <div class="icon">
            <a href="#" title="logo"><img src="../public/images/logo.svg" alt=""></a>
        </div>

        <div class="search">
            <form action="">
                <input type="search" name="search" id="search" placeholder="Pesquisar" minlength="10">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        </form>

        <div class="cart-user">

            <div class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Meu Carrinho de Muambas</span>
            </div>

            <div class="user">
                <i class="fa-solid fa-circle-user"></i>
                <span>Login</span>
            </div>
        </div>

    </header>
    <nav>
        <ul>
            <li><a href="">Todos</a></li>
            <li><a href="">Promoções</a></li>
            <li><a href="">Para você</a></li>
            <li><a href="">Computadores</a></li>
            <li><a href="">Celulares/Tablets</a></li>
            <li><a href="">Televisores</a></li>
            <li><a href="">Acessórios</a></li>
        </ul>
    </nav>

    <main>
        <section class="banner">
            <div class="destaques">
                <h1>DESTAQUES</h1>
                <img src="../public/images/smartv.png" alt="TV LG promo">
            </div>
        </section>

        <section class="em-oferta">
            <h2>PRODUTOS EM OFERTA</h2>
            <ul>
                <div class="rectangule">
                    <li>
                        <img src="../public/images/notebook.png" alt="Notebook">
                    </li>

                </div>
                <li>
                    <img src="../public/images/smartphone.png" alt="">
                </li>
                <li>
                    <img src="./public/images/hometheater.png" alt="">
                </li>
                <li>
                    <img src="../public/images/videogame.png" alt="">
                </li>
            </ul>
        </section>
        <section class="categorias">
            <h2>CATEGORIAS</h2>
            <ul>
                <li>
                    <img src="../public/images/notebook.png" alt="Notebook">
                </li>
                <li>
                    <img src="../public/images/smartphone.png" alt="">
                </li>
                <li>
                    <img src="../public/images/hometheater.png" alt="">
                </li>
                <li>
                    <img src="../public/images/videogame.png" alt="">
                </li>
            </ul>
        </section>
        <section class="recomendados">
            <h2>RECOMENDADOS</h2>
            <ul>
                <li>
                    <img src="../public/images/notebook.png" alt="Notebook">
                </li>
                <li>
                    <img src="../public/images/smartphone.png" alt="">
                </li>
                <li>
                    <img src="../public/images/hometheater.png" alt="">
                </li>
                <li>
                    <img src="../public/images/videogame.png" alt="">
                </li>
            </ul>
        </section>

    </main>
    <footer>

    </footer>

</body>

</html>