<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/produtos.css">
    <link rel="shortcut icon" href="../public/images/logo-header.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/86e4e92605.js" crossorigin="anonymous"></script>
    <title>Produtos</title>
</head>

<body>
    <header>
        <div class="icon">
            <a href="#" title="logo"><img src="../../public/images/logo.svg" alt=""></a>
        </div>

        <div class="search">
            <form action="">
                <input type="search" name="search" id="search" placeholder="Pesquisar">
                <button name="btn-1" id="btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
        </div>
        </form>

        <div class="cart-user">

            <div class="cart">
                <!-- VAI TER QUE ENTRAR UM BTN -->
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Meu Carrinho de Muambas</span>
            </div>

            <div class="user">
                <!-- VAI TER QUE ENTRAR UM BTN -->
                <i class="fa-solid fa-circle-user"></i>
                <span>Login</span>
            </div>
        </div>

    </header>
    <nav>
        <ul>
            <li><a href="">Todos</a></li>
            <li><a href="">Promoções</a></li>
            <li><a href="">Para você</a></li>
            <li><a href="">Computadores</a></li>
            <li><a href="">Celulares/Tablets</a></li>
            <li><a href="">Televisores</a></li>
            <li><a href="">Acessórios</a></li>
        </ul>
    </nav>

    <main>
        <section class="produto">
            <h1>Notebook Acer</h1>
            <div class="div-topo">
                <div class="galeria-prod">
                    <div class="galeria-agrupada">
                        <img src="../public/images/notebook.png" alt="Notebook" alt="">
                        <img src="../public/images/notebook.png" alt="Notebook" alt="">
                        <img src="../public/images/notebook.png" alt="Notebook" alt="">
                    </div>
                    <img class="img-destaque" src="../public/images/notebook.png" alt="Notebook" alt="">
                </div>

                <div class="produto-main">
                    <h1>Notebook Acer</h1>
                    <i class="fa-solid fa-star"></i>

                    <h3>Sobre este produto</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam similique aperiam, delectus libero temporibus est ratione, earum mollitia vel minima consequatur, praesentium voluptates nemo esse iste exercitationem hic dolore debitis!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto doloremque dolores modi enim est? Atque quisquam ullam enim non, vel velit officia laboriosam voluptas, nihil perspiciatis corrupti eveniet accusantium maxime?
                    </p>
                    <!-- produto em si entra aqui -->
                </div>

                <div class="inf-compra">
                    <h3>Informacoes para compra</h3>
                    <form action="" method="post">
                        <input type="search" placeholder="Digite seu CEP">
                    </form>
                    <button name="btn1">Adicionar ao carrinho</button>
                    <button name="btn2">Compre agora</button>
                </div>
        </section>

        </div>

        <section class="produtos-relacionados">
            <!-- exemplos -->

            <div>
                <img src="../public/images/notebook.png" alt="Notebook">
            </div>

            <div>
                <img src="../public/images/smartphone.png" alt="">
            </div>

            <div>
                <img src="../public/images/hometheater.png" alt="">
            </div>

        </section>

        <section class="avaliacoes">
            <h2>Avaliacoes</h2>
            <!-- exemplos -->

            <div>
                <span>user1</span>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, voluptatibus molestias sit
                    cupiditate quos animi incidunt quis doloribus laboriosam, dolor quaerat consequatur? Error sunt
                    ipsum, sint alias quae ut sapiente?</p>
            </div>

            <div>
                <span>user2</span>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, voluptatibus molestias sit
                    cupiditate quos animi incidunt quis doloribus laboriosam, dolor quaerat consequatur? Error sunt
                    ipsum, sint alias quae ut sapiente?</p>
            </div>

            <div>
                <span>user3</span>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, voluptatibus molestias sit
                    cupiditate quos animi incidunt quis doloribus laboriosam, dolor quaerat consequatur? Error sunt
                    ipsum, sint alias quae ut sapiente?</p>
            </div>
        </section>

        <section class="detalhes-tecnicos">
            <h2>Detalhes Tecnicos</h2>
            <ul>
                <li>Caracteristicas 1</li>
                <ul>
                    <li>tem isso</li>
                    <li>tem aquilo</li>
                    <li>tem aquele outro</li>
                </ul>
            </ul>

            <ul>
                <li>Caracteristicas 2</li>
                <ul>
                    <li>tem isso</li>
                    <li>tem aquilo</li>
                    <li>tem aquele outro</li>
                </ul>
            </ul>
        </section>

    </main>
</body>

</html>