@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap');

:root {
    font-size: 62.5%; /* sempre 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 120px;
    background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(0,175,239,1) 90%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px 0 20px;
    align-items: center;
    
}

nav {
    /* background: linear-gradient(90deg, rgba(36,36,36,1) 0%, rgba(0,175,239,1) 90%); */
    box-shadow: 0px 8px 10px grey;
    border: 1px solid whitesmoke;
    background-color: #F6FDFF;
    padding: 10px;
    font-size: 1.7rem;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
}

.icon img{
    width: 180px;
    margin-top: 10px;
    margin-left: 100px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

.cart-user {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.search {
    margin-left: 75px;
    
}

.cart {
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart i{
    font-size: 3.0em;
    margin-top: 10px;   
}

.cart span {
    font-size: 1.5em;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    line-height: 12px;
}

.user i{
    font-size: 50px;

    display: flex;
    flex-direction: column;

}

.user span {
    text-align: center;
    font-size: 24px;
    font-family: 'Teko', sans-serif;
    font-weight: 700;

}

.search input {
    width: 500px;
    height: 35px;
    border-radius: 15px;
    border: none;
}

.search ::placeholder {
    padding-left: 10px;
}

.search a {
    color: #000000;
}

.search i{
    font-size: 25px;
    position: relative;
    left: -40px;
    top: 5px;
}

