@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap');

:root {
    font-size: 62.5%; /* sempre 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: auto;
}

.produto h1 {
    font-size: 40px;
    margin-top: 45px;
    text-align: justify;
}

.div-topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;
}

.galeria-prod {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.galeria-agrupada {
    display: flex;
    flex-direction: column;
}

.galeria-prod img {
    width: 180px;
    height: auto;
}

.galeria-prod .img-destaque {
    width: 400px;
    height: 400px;
}

.produto-main {
   font-size: 2.2rem;
}


.produtos-relacionados {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-size: 2.2rem;
}

.relacionados-img {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
}

.produtos-relacionados div img {
    width: 200px;
    height: 200px;
    background-color: rgba(48, 80, 80, 0.4);
    border-radius: 50%;
    padding: 40px;
}

.avaliacoes {
    width: 100%;
    padding: 100px;
    margin: 45px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #305050;

    font-size: 2.2rem;
}

.div-users {
    margin-top: 20px;
}


.detalhes-tecnicos {
    width: 100%;
    padding: 100px;
    margin: 45px auto 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #305050;

    font-size: 2.2rem;
}

.detalhes-tecnicos ul li{
    list-style: none;
}
.categorias{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
}
main h1 {
    font-size: 40px;
}

.card{
    margin: 20px;
    border: 1px solid #ddd;
    padding: 18px;
}
.card-title p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}
.card-price {
    color: #0F1111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;

}
.card-price s {
    color: #565959;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.card-conditions p{
    font-family: Arial, Helvetica, sans-serif;

    color: #565959;

}